<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <system.net>
    <defaultProxy enabled="true" useDefaultCredentials="true">  
      <proxy usesystemdefault="True" proxyaddress="http://stfirewall:8080" bypassonlocal="True" />
      <bypasslist>
        <add address="localhost:\d{4,5}" />
        <add address="\.newegg[346]\.com\.sh" />
      </bypasslist>
    </defaultProxy>  
  </system.net>
</configuration>